:root {
    --Pink: hsl(322, 100%, 66%);
    --veryPaleCyan: hsl(193, 100%, 96%);
    --DarkCyan: hsl(192, 100%, 9%);
    --grayishBlue: hsl(208, 11%, 55%);
    --fontSans: 'Open Sans', sans-serif;
    --fontPoppins: 'Poppins', sans-serif;
}


html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem to 10px*/
}
*,*:before, *:after{
    box-sizing: inherit;
}

body {
    font-size: 1.2rem;
    margin: 0 auto;
}

.container__header {
    width: 90%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 7rem;
}

@media (max-width: 768px) {
    .container__header {
        width: 90%;
    }
}

a {
    text-decoration: none;
}

/* HEADER */

.header {
    background-image: url(../images/bg-hero-desktop.svg);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--veryPaleCyan);
    /* opacity: 1; */
}


@media (max-width: 768px) {
    .logo {
        width: 30%
    }
}

.buttom__nav {
    background: white;
    padding: 2rem 9rem;
    border-radius: 4rem;
    box-shadow: -1px 10px 22px -12px rgba(0,0,0,0.75);
    text-decoration: none;
    font-family: var(--fontPoppins);
    color: var(--DarkCyan);
    font-size: 18px;
}
/* 
.buttom__nav a {
    margin: 4rem;
    text-decoration: none;
    font-family: var(--fontPoppins);
    color: var(--DarkCyan);
    font-size: 18px;
} */

@media (max-width: 768px) {
    .buttom__nav {
        font-size: 1rem;
        margin: 0;
        padding: 0.7rem 2.9rem;
    }
}


.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

@media (max-width: 768px) {
    .header__content {
        flex-direction: column;
    }
}

.header__info {
    width: 40%;
    margin-right: 5rem;
}

@media (max-width: 768px) {
    .header__info {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 6rem;
    }
}

.header__title {
    font-size: 4.5rem;
    font-family: var(--fontPoppins);
    font-weight: 600;
    text-align: left;
    width: 78%;
}

@media (max-width: 768px) {
    .header__title {
        text-align: center;
        width: 90%;
        font-size: 2rem;
        margin: 0 auto;
        padding-bottom: 4rem;
    }
}



.header__description {
    font-size: 2.5rem;
    font-family: var(--fontSans);
    font-weight: 400;
    text-align: left;
    margin-bottom: 4rem;
}

@media (max-width: 768px) {
    .header__description {
        font-size: 1.5rem;
        text-align: center;
        line-height: 2.5rem;
    }
}

.buttom__header {
    background: var(--Pink);
    padding: 2rem 9rem;
    border-radius: 4rem;
    box-shadow: -1px 10px 22px -12px rgba(0,0,0,0.75);
    margin-bottom: 4rem;
    text-decoration: none;
    font-family: var(--fontPoppins);
    color: var(--veryPaleCyan);
    font-size: 18px;
}

@media (max-width: 768px) {
    .buttom__header {
        font-size: 1rem;
        margin: 0;
        padding: 1rem 4.9rem;
    }
}

.header__image {
    width: 60%
}

@media (max-width: 768px) {
    .header__image {
        width: 100%;
    }
}
.header__illustration {
    width: 100%;
    /* max-height: 100%; */
}

/* .header__nav {
    text-align: center;
    margin-top: 2rem;
}


.buttom__nav {
    text-align: center;
    margin-top: 2rem;
} */


.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}


/* MAIN */

.margin__top {
    margin-top: 18rem;
}

.product__container {
    border-radius: 3rem;
    box-shadow: 2px 5px 25px rgba(0, 0, 0, 0.25);
    margin-bottom: 4rem;
    padding: 4rem;
}
.product {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    padding: 8rem;
}
.product__info {
    /* display: block; */
    width: 55%;
    margin: 0 0 0 10rem;
}
.product__image {
    width: 47%;
}

.product__title {
    font-size: 3.5rem;
    font-family: var(--fontSans);
    font-weight: 700;
    margin: 0;
    margin-bottom: 3rem;
}

.product__description {
    font-size: 2rem;
    font-family: var(--fontSans);
    font-weight: 400;
    color: var(--grayishBlue);
    line-height: 4rem;
    width: 90%;
    margin: 0;
}

/* Footer */




