:root {
    --Pink: hsl(322, 100%, 66%);
    --veryPaleCyan: hsl(193, 100%, 96%);
    --DarkCyan: hsl(192, 100%, 9%);
    --grayishBlue: hsl(208, 11%, 55%);
    --fontSans: 'Open Sans', sans-serif;
    --fontPoppins: 'Poppins', sans-serif;
}


html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem to 10px*/
}
*,*:before, *:after{
    box-sizing: inherit;
}

body {
    min-width: 100vh;
    min-height: 100vh;
    margin: auto;
}
.container-heading {
    background-image: url("./images/bg-hero-desktop.svg");
    background-color: hsl(193, 100%, 96%);
    height: 75vh;
    padding: 50px 80px 80px 80px;
    min-width: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.logo-top {
    width: 15%;
    height: 15%;
}

.try {
    font-size: 15px;
    font-weight: 600;
    padding: 15px 60px 15px 60px;
    border-radius: 25px;
    background-color: white;
    color: hsl(192, 100%, 9%);
    border: none;
    box-shadow: 0px 5px 5px lightgray;
    font-family: 'Open Sans', sans-serif;
}

.mockup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

.mockup {
    padding: 20px 0px 0px 60px;
    width: 54%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.8rem;
    color: hsl(208, 11%, 55%);
}

.about {
    line-height: 1.8rem;;
}

.started {
    font-size: 15px;
    padding: 20px 80px 20px 80px;
    border-radius: 25px;
    background-color: hsl(322, 100%, 66%);
    color: hsl(193, 100%, 96%);
    border: none;
    margin-top: 20px;
    
}





/* body {
    min-height: 100vh;
}
.container {
    max-width: 120rem;
    margin: auto;
}
.header {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.buttom__header {
    background: white;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: -1px 10px 22px -12px rgba(0,0,0,0.75);
}

.buttom__header a {
    margin: 4rem;
    text-decoration: none;
    font-family: var(--fontPoppins);
    color: var(--DarkCyan);
    font-size: 18px;
}



.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.illustration__hero {
    width: 140rem;
    margin-top: 13rem;
}

