:root {
    --Pink: hsl(322, 100%, 66%);
    --veryPaleCyan: hsl(193, 100%, 96%);
    --DarkCyan: hsl(192, 100%, 9%);
    --grayishBlue: hsl(208, 11%, 55%);
    --fontSans: 'Open Sans', sans-serif;
    --fontPoppins: 'Poppins', sans-serif;
}


html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem to 10px*/
}
*,*:before, *:after{
    box-sizing: inherit;
}

body {
    min-height: 100vh;
}
.container {
    max-width: 120rem;
    margin: auto;
}
.header {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.buttom__header {
    background: white;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: -1px 10px 22px -12px rgba(0,0,0,0.75);
}

.buttom__header a {
    margin: 4rem;
    text-decoration: none;
    font-family: var(--fontPoppins);
    color: var(--DarkCyan);
    font-size: 18px;
}

.back__hero {
    height: 100vh; /* Altura de la sección destacada, menos la altura del encabezado */
    background-image: url(/images/bg-hero-desktop.svg); /* Ruta de la imagen que quieres utilizar como fondo */
    background-repeat: no-repeat; /* Posición centrada de la imagen */
    background-size: cover; /* Escala la imagen para que ocupe todo el espacio disponible */
    position: absolute;
    z-index: 0;
    top: 0; /* La sección hero comienza después del encabezado */
    left: 0;
    right: 0;
    bottom: 0;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.illustration__hero {
    width: 140rem;
    margin-top: 13rem;
}

.hero__info {
    margin-right: 13rem; /*4rem antes*/
}

.title_hero {
    font-size: 3.8rem; /* 4rem antes*/
    color: var(--DarkCyan);
    font-family: var(--fontSans);
}

.info {
    font-size: 1.3rem;
    color: var(--DarkCyan);
    font-family: var(--fontPoppins);
    /* margin-bottom: 3.2rem; */
    margin: 1rem 1rem 3.2rem
}

.buttom__hero {
    background: var(--Pink);
    color: var(--veryPaleCyan);
    font-family: var(--fontPoppins);
    font-size: 1.5rem;
    text-decoration: none;
    padding: 1.2rem 6rem;
    border-radius: 1.8rem;
    box-shadow: -1px 10px 22px -12px rgba(0,0,0,0.75);
}

.hero__imagen {
    margin-top: 5rem;
    width: 64rem;
}